.bg-dark {
  background-color: #12002b;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs, .form-buttons {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.form-button {
  border-color: #00bc77;
  background-color: white;
  color: #00bc77;
  font-weight: bold;
  padding: 0.5em;
  width: 7em;
}
 
.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header .input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.header .input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}